<?xml version="1.0"?>
<launch>
  <!-- arguments -->
  <arg name="sim_robot" default="true"/>
  <arg name="debug_rviz" default="false"/>
  <arg name="debug_core" default="false"/> <!--Brings up the framefab core service in debug mode-->
  <arg name="save_data" default="false" />
  <arg name="save_location" default="$(env HOME)/.ros/" />

  <!-- Brings up the core Framefab service - the central coordination -->
  <include file="$(find framefab_core)/launch/framefab_core.launch">
    <arg name="config_path" value="$(find kr6r900sixx_with_hotend)/config"/>
    <arg name="debug" value="$(arg debug_core)"/>
    <arg name="save_data" value="$(arg save_data)" />
    <arg name="save_location" value="$(arg save_location)" />
  </include>

  <!-- rviz w/ specified configuration -->
  <group if="$(arg debug_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" output="screen" launch-prefix="xterm -e gdb --args" required="true"/>
  </group>
  <group unless="$(arg debug_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" output="screen" launch-prefix="nice" required="true"/>
  </group>

</launch>
