<launch>
  <rosparam command="load" file="$(find framefab_mpp)/config/framefab_mpp/framefab_mpp_topic_names.yaml" />
  <rosparam command="load" file="$(find framefab_mpp)/config/framefab_mpp/framefab_mpp_rviz_property.yaml" />
  <rosparam command="load" file="$(find framefab_mpp)/config/framefab_mpp/framefab_mpp_collision_property.yaml" />
  <rosparam command="load" file="$(find framefab_mpp)/config/framefab_mpp/framefab_mpp_unit_conversion.yaml" />

  <include file="$(find kr6r900sixx_with_hotend_moveit_config)/launch/demo.launch"/>
  <node name="framefab_mpp_node" pkg="framefab_mpp" type="framefab_mpp_node" respawn="true" output="screen"/>
</launch>
