<?xml version="1.0" ?>
<launch>
  <!-- The planning and execution components of MoveIt! configured to run -->
  <!-- using the ROS-Industrial interface. -->
 
  <rosparam command="load" file="$(find abb_irb2400_support)/config/joint_names_irb2400.yaml" />

  <!-- the "sim" argument controls whether we connect to a Simulated or Real robot -->
  <!--  - if sim=false, a robot_ip argument is required -->
  <arg name="sim" default="true" />
  <arg name="robot_ip" unless="$(arg sim)" />
  <arg name="rviz" default="true"/>
  <arg name="use_ftp" default="false"/>
  <arg name="use_db" default="false"/>

  <!-- load the robot_description parameter before launchwechaing ROS-I nodes -->
  <include file="$(find framefab_irb2400_workspace_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- run the robot simulator and action interface nodes -->
  <group if="$(arg sim)">
  <include file="$(find industrial_robot_simulator)/launch/robot_interface_simulator.launch" />
    <rosparam param="initial_joint_state">[0.0, 0.08, -1.57, 1.74, 0.08, 0.17, -0.08]</rosparam>
  </group>

  <!-- run the "real robot" interface nodes -->
	<!-- not in use here -->

  <!-- publish the robot state (tf transforms) -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

	<!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find framefab_irb2400_workspace_moveit_config)/launch/move_group.launch">
		<arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include if="$(arg rviz)" file="$(find framefab_irb2400_workspace_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

	<include if="$(arg use_db)" file="$(find framefab_irb2400_workspace_moveit_config)/launch/default_warehouse_db.launch" />

</launch>
