<?xml version="1.0" ?>

<!-- Has several service interfaces: -->
<!-- 1. simulation server: "simulate_path" -->
<!-- 2. KRL execution server: "execute_program" -->
<!-- 3. THIS process server: "framefab_process_execution" -->

<launch>
  <node pkg="framefab_process_execution" type="kuka_framefab_process_service_node" name="kuka_framefab_process_execution"/>
</launch>
