<?xml version="1.0" ?>
<robot name="framefab_irb2400" xmlns:xacro="http://ros.org/wiki/xacro">
  <!--robot-->
  <xacro:include filename="$(find abb_irb2400_support)/urdf/irb2400_macro.xacro"/>
  
	<!--linear track setup-->
	<xacro:include filename="$(find framefab_irb2400_support)/urdf/simple_linear_track_macro.xacro"/>

  <link name="world_frame"/>

  <!-- instantiating arm  --> 
  <xacro:abb_irb2400 prefix=""/>
	<!-- linear track  -->
  <xacro:simple_linear_track prefix=""/>

	<!--bind the rail to word_frame-->
  <joint name="world_to_rail" type="fixed">
    <parent link="world_frame" />
    <child link="rail" />
    <origin xyz="0 0 0"/>
  </joint>

</robot>
