<library path="lib/libframefab_mpp">
  <class  name="framefab_mpp/FrameFabRvizPanel"
          type="framefab::FrameFabRvizPanel"
          base_class_type="rviz::Panel">
    <description>
			A panel widget that can be used in an rviz instance for surface blending path generation
    </description>
  </class>
</library>
